#include <windows.h>
#include "resource.h"

// Icon
IDI_APPICON ICON DISCARDABLE "Resource\icon.ico"

// for Tray icon
IDI_TRAYICON_MUTE    ICON DISCARDABLE "Resource\icon_mute.ico"
IDI_TRAYICON_LVL1    ICON DISCARDABLE "Resource\icon_lv1.ico"
IDI_TRAYICON_LVL2    ICON DISCARDABLE "Resource\icon_lv2.ico"
IDI_TRAYICON_LVL3    ICON DISCARDABLE "Resource\icon_lv3.ico"

// Point all 4 IDs to the *same* multi-image icon file.
// The resource compiler will assign them sequentially.
IDI_SPEAKER_MUTE    ICON DISCARDABLE "Resource\speaker_mute.ico"
IDI_SPEAKER_LVL1    ICON DISCARDABLE "Resource\speaker_lv1.ico"
IDI_SPEAKER_LVL2    ICON DISCARDABLE "Resource\speaker_lv2.ico"
IDI_SPEAKER_LVL3    ICON DISCARDABLE "Resource\speaker_lv3.ico"

// Menu
IDR_TRAYMENU MENU DISCARDABLE
BEGIN
POPUP "&TrayMenu"
BEGIN
MENUITEM "Open Source &License", IDM_INFO_LICENSE
MENUITEM "&Usage", IDM_INFO_USAGE
POPUP "&Advanced"
BEGIN
MENUITEM "Buffer mode: Auto", IDM_MODE_AUTO
MENUITEM "Buffer mode: Streaming", IDM_MODE_STREAMING
MENUITEM "Buffer mode: Full", IDM_MODE_FULLBUFFER
MENUITEM SEPARATOR
MENUITEM "Engine: Auto", IDM_ENGINE_AUTO
MENUITEM "Engine: DirectSound", IDM_ENGINE_DS
MENUITEM "Engine: WASAPI", IDM_ENGINE_WASAPI
END
MENUITEM SEPARATOR
MENUITEM "E&xit", IDM_EXIT
END
END

// About Dialog Template
IDD_ABOUT DIALOGEX 0, 0, 480, 360
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_CLIPCHILDREN
CAPTION "About"
FONT 9, "Segoe UI"
BEGIN
CONTROL "", 0, "Static", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 8, 464, 344
END

// RCDATA for Usage and Licenses
// Ensure these files exist in the specified paths relative to the .rc file
IDR_USAGE_EN          RCDATA "Resource\\en-US\\Usage-en.txt"
IDR_USAGE_KO          RCDATA "Resource\\ko-KR\\Usage-ko.txt"

IDR_LICENSE_MINIMP3   RCDATA "Resource\\License\\minimp3.txt"
IDR_LICENSE_LIBOGG    RCDATA "Resource\\License\\libogg.txt"
IDR_LICENSE_LIBVORBIS RCDATA "Resource\\License\\libvorbis.txt"
IDR_LICENSE_LIBFLAC   RCDATA "Resource\\License\\libflac.txt"
IDR_LICENSE_LIBSAMP   RCDATA "Resource\\License\\libsamplerate.txt"

// RCDATA for UI Lang
IDR_UILANG_EN         RCDATA "Resource\en-US\Ui-en.txt"
IDR_UILANG_KO         RCDATA "Resource\ko-KR\Ui-ko.txt"

// Add manifest for Common Controls 6.0 (required for themed trackbar)
1 RT_MANIFEST "Resource\WinmmVol_manifest.xml"
