#include <windows.h>
#include "resource.h"
#include "version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD
 PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription",  "Direct-Winmm CD-DA Volume Control"
            VALUE "FileVersion",      VER_FILE_VERSION_STR
            VALUE "InternalName",     "WinmmVol.exe"
            VALUE "OriginalFilename", "WinmmVol.exe"
            VALUE "ProductName",      VER_PRODUCT_NAME
            VALUE "ProductVersion",   VER_PRODUCT_VERSION_STR
            VALUE "LegalCopyright",   "No Copyright - CC0 1.0 Public Domain Dedication"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

// Icon
IDI_APPICON ICON DISCARDABLE "Resource\\Icon\icon.ico"

// for Tray icon
IDI_TRAYICON_MUTE    ICON DISCARDABLE "Resource\\Icon\icon_mute.ico"
IDI_TRAYICON_LVL1    ICON DISCARDABLE "Resource\\Icon\icon_lv1.ico"
IDI_TRAYICON_LVL2    ICON DISCARDABLE "Resource\\Icon\icon_lv2.ico"
IDI_TRAYICON_LVL3    ICON DISCARDABLE "Resource\\Icon\icon_lv3.ico"

// Point all 4 IDs to the *same* multi-image icon file.
// The resource compiler will assign them sequentially.
IDI_SPEAKER_MUTE    ICON DISCARDABLE "Resource\\Icon\speaker_mute.ico"
IDI_SPEAKER_LVL1    ICON DISCARDABLE "Resource\\Icon\speaker_lv1.ico"
IDI_SPEAKER_LVL2    ICON DISCARDABLE "Resource\\Icon\speaker_lv2.ico"
IDI_SPEAKER_LVL3    ICON DISCARDABLE "Resource\\Icon\speaker_lv3.ico"

// for Window control icon
IDI_BTN_CLOSE       ICON DISCARDABLE "Resource\\Icon\btn_close.ico"

// Menu
IDR_TRAYMENU MENU DISCARDABLE
BEGIN
POPUP "&TrayMenu"
BEGIN
MENUITEM "Open Source &License", IDM_INFO_LICENSE
MENUITEM SEPARATOR
MENUITEM "&Reset all settings", IDM_MODE_CLEAR
MENUITEM "&Show All Apps", IDM_SHOW_ALL_APPS
MENUITEM SEPARATOR
MENUITEM "E&xit", IDM_EXIT
END
END

// About Dialog Template
IDD_ABOUT DIALOGEX 0, 0, 480, 360
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_CLIPCHILDREN
CAPTION "About"
FONT 9, "Segoe UI"
BEGIN
CONTROL "", 0, "Static", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 8, 464, 344
END

// RCDATA for Licenses
// Ensure these files exist in the specified paths relative to the .rc file
IDR_LICENSE_MINIMP3   RCDATA "Resource\\Licenses\\minimp3.txt"
IDR_LICENSE_LIBOGG    RCDATA "Resource\\Licenses\\libogg.txt"
IDR_LICENSE_LIBVORBIS RCDATA "Resource\\Licenses\\libvorbis.txt"
IDR_LICENSE_LIBFLAC   RCDATA "Resource\\Licenses\\libflac.txt"
IDR_LICENSE_LIBSAMP   RCDATA "Resource\\Licenses\\libsamplerate.txt"

// RCDATA for UI Lang
IDR_UILANG_EN         RCDATA "Resource\\UI\\EN.txt"
IDR_UILANG_KO         RCDATA "Resource\\UI\\KO.txt"

// Add manifest for Common Controls 6.0 (required for themed trackbar)
1 RT_MANIFEST "Resource\\WinmmVol_manifest.xml"
