#include <windows.h>
#include "resource.h"

// Icon
IDI_APPICON ICON DISCARDABLE "icon.ico"

// Point all 4 IDs to the *same* multi-image icon file.
// The resource compiler will assign them sequentially.
IDI_SPEAKER_MUTE    ICON DISCARDABLE "speaker_mute.ico"
IDI_SPEAKER_LVL1    ICON DISCARDABLE "speaker_lv1.ico"
IDI_SPEAKER_LVL2    ICON DISCARDABLE "speaker_lv2.ico"
IDI_SPEAKER_LVL3    ICON DISCARDABLE "speaker_lv3.ico"

// Menu
IDR_TRAYMENU MENU DISCARDABLE
BEGIN
POPUP "&TrayMenu"
BEGIN
POPUP "&Advanced"
BEGIN
MENUITEM "Buffer mode: Streaming", IDM_MODE_STREAMING
MENUITEM "Buffer mode: Full", IDM_MODE_FULLBUFFER
END
MENUITEM SEPARATOR
MENUITEM "E&xit", IDM_EXIT
END
END

// Add manifest for Common Controls 6.0 (required for themed trackbar)
1 RT_MANIFEST "WinmmVol_manifest.xml"